<section class="my-5" *ngIf="project">
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{project.name}}</h2>
  <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.
  </p>
  <div class="row">
    <div class="col-lg-5 mb-lg-0 mb-5">
      <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" alt="Sample project image"
        class="img-fluid rounded z-depth-1">
    </div>
    <div class="col-lg-7">
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Descripcion</h5>
          <p class="grey-text">{{project.description}}.</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Tecnologias</h5>
          <p class="grey-text">
            {{project.category}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Lenguajes utilizados</h5>
          <p class="grey-text">
            {{project.langs}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4" *ngIf="confirm ==false">
    <button (click)=" setConfirm(true)" mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Borrar
    </button>
    <button [routerLink]="['/editar-proyecto', project._id]" mdbBtn type="button" 
      color="default" mdbWavesEffect><mdb-icon fas icon="pen" class="ml-1"></mdb-icon>Editar
    </button>   
  </div>
  <div class="mt-4" *ngIf="confirm ==true">
    <span class="text-danger text-center w-responsive mx-auto mb-5">
      ¿Estas seguro de borrar este proyecto?
    </span><br>
    <button (click)="deleteProject(project._id)" mdbBtn type="button" color="danger" mdbWavesEffect>
        <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Eliminar definitivamente
    </button>
    <button (click)=" setConfirm(false)" mdbBtn type="button" 
      color="default" mdbWavesEffect><mdb-icon fas icon="pen" class="ml-1"></mdb-icon>Cancelar
    </button>   
  </div>

  <hr class="my-5">
</section>
