<div class="m-4" id="title">
  <h1>{{title}}</h1>
</div>
<article class="about m-4">
  <h2>Sobre mí</h2>
  <p>
    Técnica en administración de empresas y diplomatura en RRHH para PyME y MiPyME
    Estudiante de la técnicatura en Eficiencia Energética en el IFTS N°14.
    Valoro el Knowmad, la administración del tiempo.
    Más de 10 años de experiencia en RRHH y 3 años en Maquetación web UX/UI con angular, bootstrap, MDB y ng-bootstrap
    Conocimientos de figma, XD para armado de prototipos y pantallas.
    Orientada a ofrecer servicios al cliente y al usuario.
  </p>
</article>

