<div class="m-4" id="title">
  <h1>{{title}}</h1>
</div>
<article class="about m-4">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum alias odio modi et ad, nostrum mollitia
    recusandae,
    fugit animi id odit illum! Ab vitae commodi voluptate doloribus aperiam. Accusamus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum alias odio modi et ad, nostrum mollitia
    recusandae,
    fugit animi id odit illum! Ab vitae commodi voluptate doloribus aperiam. Accusamus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum alias odio modi et ad, nostrum mollitia
    recusandae,
    fugit animi id odit illum! Ab vitae commodi voluptate doloribus aperiam. Accusamus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum alias odio modi et ad, nostrum mollitia
    recusandae,
    fugit animi id odit illum! Ab vitae commodi voluptate doloribus aperiam. Accusamus?
  </p>
</article>

