.testColor 
{
    background-color: #E91E63;
    color: white;
}


.testlabel {
    
    border-bottom: 1px solid gray ;
    color: #E91E63;
    cursor: pointer;
    width: 100%;
}

i.fa-paperclip.fas {
    background-color: aqua;
    width: 70px;
    height: 70px;
}