
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink ie-nav fixed-top scrolling-navbar"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" id="logo" href="#"><strong>RE</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']" class="nav-link">Sobre mí <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']" class="nav-link">Proyectos</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']" class="nav-link"> Crear Proyectos</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']" class="nav-link">Contacto</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a href="https://www.linkedin.com/in/rebecaechegoy/" class="nav-link" target="_blanck">
          <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a href="https://www.behance.net/gallery/113805649/AyresNet" class="nav-link" target="_blanck">
          <mdb-icon fab icon="behance"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<section id="content">
  <mdb-card>
    <mdb-card-header>{{subtitle}}</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5></h5>
      </mdb-card-title>
      <mdb-card-text> 
      </mdb-card-text>
      <router-outlet></router-outlet>
    </mdb-card-body>
  </mdb-card>
  
</section>




